

section.row{
     background: #007bff; 
    background: linear-gradient(to right, #0062E6, #33AEFF);
display:grid;
  }
  .pricing .col-lg-4{
    height:500px;
    width:400px;
  }

  
  .pricing .card {
    border: solid;
    border-color: white;
    height:500px;
    width:300px;
    margin:60px;
    border-radius: 1rem;
    display:grid;
 
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  

  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
    text-align: center;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
      
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .button {
    background-color:#0062E6; /* Green */
    border: none;
    color:white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
    border-radius: 1rem;
  }
  
  @media (min-width: 97px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      display: grid;
      grid-template-columns: 3fr;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }